<article class="post">
  <div class="title">
    <h3 href="/post/{{id}}" target="_blank">{{title}}</h3>
    Posted by {{user.username}} on {{format_date created_at}}
  </div>
      <div class="post_text">
      {{post_text}}
    </div>
  <div class="meta">
Posted     |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>